.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/koodi/viikko3/Kurssistatistiikka/.nb-gradle/
/koodi/viikko3/Kurssistatistiikka/build/

/koodi/viikko3/HelloCucumber/.nb-gradle/
/koodi/viikko3/HelloCucumber/build/
/koodi/viikko3/LoginCucumber/.nb-gradle/
/koodi/viikko3/LoginCucumber/build/
/koodi/viikko3/WebLogin/.nb-gradle/
/koodi/viikko3/WebLogin/build/
/koodi/viikko4/MockitoDemo/.nb-gradle/
/koodi/viikko4/MatkakorttiMockito/.nb-gradle/
/koodi/viikko4/MatkakorttiMockito/build/
/koodi/viikko5/IntJoukkoSovellus/.nb-gradle/
/koodi/viikko5/IntJoukkoSovellus/build/
/koodi/viikko5/Tennis/.nb-gradle/
/koodi/viikko5/Tennis/build/